
<div class="wrapper">
    <div class="header">
        {% block header %}
        	<div class="row bg-primary">
        		<div class="col-md-12">
        			<h1>Analysis</h1>
        		</div>
        	</div>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
</div>